package {{.AllLower}}

import (
    "{{.ProjectPath}}/config"
    "{{.ProjectPath}}/internal/util"{{.ModelIncludeNull}}
)

type (
    {{.Camel}} struct {
{{.ModelRows}}
    }

    {{.Camel}}Param struct {
        // TODO: add any other custom params here
        util.Param
    }
)

func InitStorage() Data{{.Camel}}Adapter {
{{.InitStorage}}
    return nil
}